@import '../styles/color-variables';

@font-face {
    font-family: LatoRegular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: LatoSemibold;
    src: url('../fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
    font-family: LatoBold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: LoraBold;
    src: url('../fonts/Lora/Lora-Bold.ttf');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: $accent-color;
    font-family: LatoRegular, sans-serif;
}

*::selection {
    background-color: transparent;
}

body {
    margin: 0;
    background-color: $additional-color;
    overflow-x: hidden;
    #wrapper {
        &::after {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
            animation: ShowApp 3s linear forwards;
            @keyframes ShowApp {
                0%, 66% {
                    background-color: $main-color;
                }
                76% {
                    background-color: transparent;
                }
                100% {
                    pointer-events: none;
                }
            }
        }
    }
    header {
        position: relative;
        height: 110px;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
    }
}

@media (max-width: 575px) {
    header {
        height: 75px!important;
    }
}