@import '../styles/color-variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: $main-opacity-color;
    animation: ShowHeader 2s ease-in-out forwards;
    @keyframes ShowHeader {
        0%, 50% {
            height: 100vh;
        }
        100% {
            height: 150px;
        }
    }
    &_menu {
        position: fixed;
        top: 150px;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 0;
        padding: 30px;
        opacity: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        backdrop-filter: blur(3px);
        background-color: $main-opacity-color;
        transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
        &_active {
            opacity: 1;
            pointer-events: all;
            height: calc(100vh - 150px);
        }
        &_link {
            cursor: pointer;
            padding: 15px;
            font-size: 20px;
            font-family: LatoBold, sans-serif;
            letter-spacing: 1px;
            position: relative;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 0;
                height: 2px;
                border-radius: 15px;
                background-color: $additional-color;
                transition: width 0.2s ease-in-out;
            }
            &:hover {
                opacity: 0.7;
            }
            &_active {
                &::after {
                    width: 50%;
                }
                opacity: 0.7;
            }
        }
    }
    &_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 550px;
        height: 100px;
        animation: ShowLogo 2s ease-in-out forwards;
        @keyframes ShowLogo {
            0% {
                opacity: 0;
                transform: scale(1);
            }
            50% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                transform: scale(0.9);
            }
        }
    }
    &_circleLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 150px;
        animation: ShowCircleLogo 2s ease-in-out forwards;
        @keyframes ShowCircleLogo {
            0% {
                opacity: 0;
                transform: scale(1.1);
            }
            50% {
                opacity: 1;
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    &_menuButton {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100px;
        img {
            animation: ShowMenuButtonImg 0.2s ease-in-out forwards;
            @keyframes ShowMenuButtonImg {
                0% {
                    opacity: 0;
                    transform: scale(1);
                }
                100% {
                    opacity: 1;
                    transform: scale(0.9);
                }
            }
        }
        animation: ShowMenuButton 3s ease-in-out forwards;
        @keyframes ShowMenuButton {
            0%, 66.666% {
                opacity: 0;
            }
            76%, 100% {
                opacity: 1;
            }
        }
        transition: transform 0.2s ease-in-out;
        transform: scale(0.9);
        &:hover {
            transform: scale(1);
        }
    }
}