@import '../styles/color-variables';

.homePage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_filtrationBar {
        width: 350px;
        height: 50px;
        border-radius: 15px 10px;
        background-color: $main-color;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: ShowFilterPanel 0.2s ease-in-out forwards;
        position: relative;
        z-index: 2;
        @keyframes ShowFilterPanel {
            0% {
                transform: scale(0.85);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    &_navigationBar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 50px;
        position: fixed;
        top: 220px;
        left: 0;
        bottom: 110px;
        z-index: 3;
        background-color: $main-color;
        border-radius: 0 15px 10px 0;
        transition: all 0.2s ease-in-out;
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        overflow: hidden;
        &_active {
            width: 200px;
            border-radius: 0 30px 20px 0;
            border-top: 2px solid $accent-color;
            border-right: 2px solid $accent-color;
            border-bottom: 2px solid $accent-color;
        }
        &_close {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    &_products {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 30px;
    }
}

@media (max-width: 575px), (max-height: 600px) {
    .homePage {
        &_filtrationBar {
            width: 100%;
        }
        &_navigationBar {
            width: calc(100% - 60px);
            top: calc(100% - 50px);
            left: 30px;
            right: 30px;
            bottom: 0;
            border-radius: 15px 10px 0 0;
            border-left: 2px solid transparent;
            border-top: 2px solid transparent;
            border-right: 2px solid transparent;
            border-bottom: 2px solid transparent;
            height: 50px;
            &_active {
                top: calc(100% - 200px);
                height: 200px;
                border-radius: 30px 20px 0 0;
                border-top: 2px solid $accent-color;
                border-right: 2px solid $accent-color;
                border-left: 2px solid $accent-color;
            }
        }
        &_products {
            padding: 10px 0;
        }
    }
}