@import '../styles/color-variables';

.homePage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_filtrationBar {
        width: 300px;
        height: 50px;
        border-radius: 15px 10px;
        background-color: $main-color;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: ShowFilterPanel 0.2s linear forwards;
        @keyframes ShowFilterPanel {
            0% {
                transform: scale(0.85);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    &_navigationBar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 600px;
        margin: auto 0;
        width: 50px;
        position: fixed;
        top: 140px;
        left: 0;
        bottom: 30px;
        background-color: $main-color;
        border-radius: 0 15px 10px 0;
        transition: all 0.2s ease-in-out;
        &_active {
            width: 200px;
            border-radius: 0 30px 20px 0;
        }
    }
}