@import '../styles/color-variables';

.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_filtrationBar {
        width: 300px;
        height: 50px;
        border-radius: 15px 10px;
        background-color: $main-color;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: ShowFilterPanel 0.2s linear forwards;
        position: relative;
        z-index: 2;
        @keyframes ShowFilterPanel {
            0% {
                transform: scale(0.85);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    &_navigationBar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 50px;
        position: fixed;
        top: 220px;
        left: 0;
        bottom: 110px;
        z-index: 2;
        background-color: $main-color;
        border-radius: 0 15px 10px 0;
        transition: all 0.2s ease-in-out;
        &_active {
            width: 200px;
            border-radius: 0 30px 20px 0;
            border: 2px solid $additional-color;
        }
        &_close {
            position: fixed;
            top: 110px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    &_products {
        max-width: 1020px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 30px;
    }
}

@media (max-width: 575px) {
    .homePage {
        &_filtrationBar {
            width: 240px;
        }
        &_navigationBar {
            top: 185px;
            bottom: 30px;
            &_close {
                top: 75px;
            }
        }
        &_products {
            position: relative;
            left: 25px;
            margin: 10px 0;
            flex-direction: column;
        }
    }
}