.icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    animation: ShowIcon 0.2s ease-in-out forwards;
    @keyframes ShowIcon {
        0% {
            opacity: 0;
            transform: scale(0.85);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    svg {
        transition: transform 0.2s ease-in-out;
    }
    &:hover {
        svg {
            transform: scale(1.1);
        }
        p {
            opacity: 1;
        }
    }
    &_disable {
        cursor: default;
        animation: ShowDisableIcon 0.2s ease-in-out forwards;
        @keyframes ShowDisableIcon {
            0% {
                opacity: 0;
                transform: scale(0.85);
            }
            100% {
                opacity: 0.85;
                transform: scale(1);
            }
        }
        &:hover {
            svg {
                transform: none;
            }
        }
    }
    &_text {
        pointer-events: none;
        position: absolute;
        bottom: -25%;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        font-size: 17px;
        white-space: nowrap;
        letter-spacing: 1px;
    }
}