@import '../styles/color-variables';

.input {
    background-color: $main-color;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    animation: ShowInput 0.2s ease-in-out forwards;
    color: $additional-color;
    letter-spacing: 1px;
    padding-left: 2px;
    @keyframes ShowInput {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &::placeholder {
        color: $additional-color;
        opacity: 0.85;
    }
}