@import '../styles/color-variables';

.logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    &_title {
        font-size: 50px;
        letter-spacing: 1px;
        font-family: LoraBold, sans-serif;
    }
    &_subtitle {
        font-size: 17px;
        letter-spacing: 2px;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid $second-color; 
        line-height: 0.1em; 
        margin: 10px 0;
        animation: ShowLine 1s linear forwards;
        @keyframes ShowLine {
            0% {
                width: 200px;
            }
            100% {
                width: 100vw;
            }
        }
        span {
            font-family: LatoBold, sans-serif;
            padding: 0 10px;
            background-color: $main-color;
        }
    }
}